#title {
    background-color: #ff4c68;
    color: #ffffff;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height:1.5;
}

.down{
    margin: 5% 3% 5% 0;
}

#title {
    padding: 3% 15%;
}

.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand {

    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 18px;
}

.image{
    width: 20%;
    transform:rotate(25deg);
    margin-left: 80px;
    margin-top: 20px;
    position: absolute;
}


#features{
    padding: 7% 15%;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}

.featurebox{
    text-align: center;
    padding: 5%;
}
.fas:hover{
    color: #ff4c68;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #ffffff;
}
.carousel-item{
    padding: 7% 15%;
}
.test_image{
    width: 15%;
    margin: 25px;
    border-radius: 100%;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 30px;
}
.press_img{
    width: 15%;
    margin: 20px 20px 40px;
}

#pricing{
    padding: 100px;
}

.price-col{
    padding: 3% 2%;
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    color: #ffffff;
    padding: 7% 15%;
}
h3{
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    padding: 7% 15%;
    text-align: center;
}
.social{
    margin: 20px;
}

@media (max-width: 1028px){
    .image{
        position: static;
        width: 60%;
        padding-bottom: 30px;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}